.landing-container {
  width: 100vw;
  min-height: 100vh;
}

.landing-content {
  height: 75%;
  width: 60%;
  margin: auto;
  padding-top: 10rem;
}

.landing-description {
  display: flex;
  gap: 10rem;
}

.landing-description h1 {
  font-size: 3rem;
  font-family: "display-text";
  color: #000000;
  margin-bottom: 1rem;
  line-height: 1;
}

.landing-navs {
  display: flex;
  align-items: center;
  width: 50%;
  justify-content: space-between;
  margin-top: 2em;
  margin-bottom: 4em;
}

.landing-image {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallium-badge {
  margin-left: 0.5em;
  margin-bottom: 2rem;
}

.logo-container {
  display: flex;
  width: 100%;
  margin: auto;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 1rem;
}

.button-container {
  margin-top: 2.5rem;
}

.landing-categories {
  margin-top: 15rem;
  min-height: 100px;
  display: flex;
  gap: 5rem;
  flex-wrap: wrap;
}

.landing-category {
  max-width: 300px;
}

.landing-category h4 {
  color: #039874;
}

.category-header {
  display: flex;
  gap: 2rem;
  justify-content: left;
  align-items: center;
  margin-bottom: 1rem;
}
