.badge-container {
  background-color: #1e2329;
  width: 120px;
  height: 120px;
  padding: 12px;
  display: flex;
  align-items: flex-end;
}

.badge-container h4 {
  font-size: 1.2rem;
  font-family: "display-text-medium";
  color: #ffffff;
  margin-bottom: 0rem;
  line-height: 1.5;
  padding-left: 0em;
}
