.nav-categories {
  margin-top: 5rem;
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}

.nav-category {
  border: 1px solid #e0e0e0;
  width: 500px;
  height: 120px;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  gap: 1rem;
}

.nav-category:hover {
  background-color: #e0e0e023;
}

.nav-category h4 {
  margin-bottom: 1rem;
}

.nav-category p {
  font-size: 1em;
}
